<a href="https://colab.research.google.com/github/HaciYasar/PythonAssignment/blob/main/free_python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
text1 = "Dizeleri öğrendim" #çift tırnak içine alınır
print(text1)

Dizeleri öğrendim

In [ ]:
e_mail = 'joseph@clarusway.com' # tek tırnakla çevrili
print( e_mail )

joseph@clarusway.com

In [ ]:
print ('632') # bu da bir dize türüdür

632

In [ ]:
example1 = 'bazen ne söylediğiniz, nasıl söylediğinizden daha az çnemlidir'
print(type(example1) )

<class 'str'>

In [ ]:
example2 = '71'
print(type(example2))

<class 'str'>

In [ ]:
example3 = 71
print(type(example3))

<class 'int'>

In [ ]:
example4 = 71.0
print(type(example4))

<class 'float'>

In [ ]:
example5 = 3.14j
print(type(example5))

<class 'complex'>

In [ ]:
example6 = True
print(type(example6))

<class 'bool'>

In [ ]:
f = 3.14 #tip yüze
print(type(f))

<class 'float'>

In [ ]:
f = 3.14 # tip yüzer
s = str ( f ) #kayan noktayı dizeye dönüştürme
print(type(s))

<class 'str'>

In [ ]:
f = 3.14 # the type is float
i = int(f) # bir kayan noktalı değeri bir tam sayıya dönüştürürken ondalık kısım dikkate alınmaz
print(i, '\n')
print(type(i))

3

<class 'int'>

In [ ]:
i = 3

f = float(i)
print(f, '\n')
print(type(f))

3.0

<class 'float'>

In [ ]:
x = 39
v = "11"
y = "2.5"
z = "ı'm at_"

print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
ı'm at_39

In [ ]:
a = 36.5
b = '30'
c = '3.5'
d = 'f is enough for room temperature.'

print(str(a+int(b)+float(c))+d)

70.0f is enough for room temperature.

In [ ]:
colar = 'red' #str type variable
season = 'summer'
price = 250 # int type variable
pi = 3.14 # float type variable
color = 'blue' # You can always assing a new value to created variable
price = 100 # value of 'price' is changed

print(color, price, season, sep=', ')

blue, 100, summer

In [ ]:
print(4+11) # tam sayıların toplamı tam sayı verir

15

In [ ]:
print (39+1.0) # bir tamsayı ve şamandıranın toplamı

40.0

In [ ]:
no1 , no2 = 46 , 52
no3 = no1 - no2
print (no3)

-6

In [ ]:
no1 = 46
print (no1 / 23)

2.0